// 制限エリア
[data-type="loos/restricted-area"] {
    padding: 4px;

    &:not(.is-selected) {
        border: dashed 1px $color_guide;
    }

    .swl-parentSelector {
        display: block !important;
        padding: 4px;

        svg {
            display: block;
            width: 20px;
            height: 20px;
            fill: currentColor;
        }
    }
}


.edit-post-sidebar {

    .swl-dash {
        margin: 0 auto 12px;
        padding-right: 1em;
        writing-mode: vertical-rl;
    }

    .swl-dateTimePicker {
        margin-bottom: 12px;

        .components-base-control__field {
            display: flex;
            align-items: center;
        }

        .components-base-control__label {
            margin-right: 8px;
            margin-bottom: 0;
        }

        .components-button svg {
            margin-right: 4px;
        }
    }
}


.swl-btns--limtPageType.components-button-group {
    display: flex;

    .components-button {
        flex-basis: 50%;
        font-size: 13px;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }
    }
}
