[data-type="loos/rss"] {

    a {
        pointer-events: none;
    }
}

.c-rssSite__favi {
    width: 16px !important;
    height: 16px !important;
}


// SWELLマークをつける
// .components-autocomplete__result[id*="block-loos/"],
// .block-editor-block-types-list [class*="editor-block-list-item-loos-"]
.components-autocomplete__result[id*="block-loos"],
[class*="editor-block-list-item-loos-"] {
    position: relative;

    svg {
        color: #04384c;
        fill: #04384c;
    }

    &::after {
        position: absolute;
        top: 2px;
        right: 2px;
        display: block;
        padding: 2px;
        color: #04384c;
        font-weight: 400;
        font-size: 10px;
        font-family: icomoon !important;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-transform: none;
        border: solid 1px currentColor;
        border-radius: 20px;
        content: "\e936";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.components-autocomplete__result[id*="block-loos-hcb"],
[class*="editor-block-list-item-loos-hcb"] {

    &::after {
        content: none;
    }
}
